body{
    background-color: black;
}
.red{
    background-color: red;
    height: 200px;
    width: 200px;
    margin: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue{
    background-color: blue;
    height: 120px;
    width: 120px;
    border: solid 2px white;
    border-left: solid 5px white;
    border-right: solid 5px white;
   
}